img {
  margin: 0.5rem;
  width: 10vh;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: transparent;
}
.nav-text-btn {
  display: flex;
  justify-content: space-around;
  font-family: 'lobster';
  font-size: x-large;
  width: 30%;
  align-items: center;
}

.nav-text-btn span {
  margin-top: 0.5rem;
}

.nav-btn button {
  font-size: larger;
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
  padding: .5rem;
  background-color: transparent;
  border-width: 0px;
}
