.progress-legend {
    display: flex;
    position:absolute;
    font-family: lobster;
    font-size: 28px;
    justify-content: space-around;
    width: 800px;
    top: 113px;
}
.progress-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30px;
}
.circle {
    width:30px;
    height: 30px;    
    border-radius:50%;
}
.progress-bar{
    padding: 2rem;
}