.volunteers-container {
  display: flex;
  color: rgb(255, 255, 255);
  font-family: 'Abril Fatface', cursive;
  width: 100vw;
  height: 90vh;
}

.volunteers-container img {
  width: 70vw;
  height: 35vw;
}
.volunteers-info h1 {
  font-family: 'lobster';
  font-size: 6vw;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}
.volunteers-info h3 {
  font-size: 2vw;
  margin-top: 3rem;
  margin-bottom: 0px;
}
.volunteers-info span {
  font-size: 2vw;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.volunteers-info {
  margin-left: 5%;
  align-items: center;
  text-align: center;
}
.volunteers-button {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  padding: 0.2rem;
  border-radius: 15px 15px 15px 15px;
  width: 15rem;
  height: 3rem;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  color: #333;
  cursor: pointer;
  margin: .5rem;
}
.container {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(210, 93, 211, 1) 51%,
    rgba(61, 38, 103, 1) 87%
  );
}
