.home-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* margin-top: ; */
  color: rgb(255, 255, 255);
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'lobster';
  background: rgb(173, 30, 232);
  background: linear-gradient(
    0deg,
    rgba(173, 30, 232, 1) 24%,
    rgba(234, 133, 231, 1) 75%,
    rgba(255, 255, 255, 1) 98%
  );
  width: 100%;
  height: 90vh;
  text-shadow: .1em .1em .6em #333;
}
.home-container h1 {
  font-family: 'lobster';
  font-size: 6vw;
  margin-bottom: 0.5rem;
}
.home-container span {
  font-size: xx-large;
  margin-bottom: 1.5rem;
  line-height: 3rem;
}
.home-container img {
  margin-top: 7rem;
  margin-right: 7rem;
  width: 45vw;
  margin-left: 5rem;
}
.home-button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 5cm;
  font-size: 30px;
  color: rgb(0, 0, 0);
  box-shadow: .1em .1em .4em #333;
}
.home-info {
  margin-right: 7rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
