.about-container {
    text-align: center;
    display: flex;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    font-family: 'lobster';
}

.illustration {
    width: 45vw;
    margin-top: 10rem;
    margin-left: 3rem;
}

.container h1 {
    font-family: 'lobster';
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
    text-shadow: .1em .2em .2em rgba(51, 51, 51, 0.562);
}

.container p {
    font-size: x-large;
    margin: 2rem;    
    line-height: 2rem;
    text-shadow: .1em .1em .3em rgba(51, 51, 51, 0.808);
}

.container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(210,93,211,1) 51%, rgba(61,38,103,1) 98%);
}