button {
    border: 2px solid rgba(237, 171, 238);
    border-radius: 10px 10px 10px 10px;;
    background-color: rgb(255, 255, 255);
    font-family: lobster;
    font-size: large;
    width: 100px;
    height: 30px;
    margin-top: 1rem;
    
}